body {
}
.feedGroup {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left:auto;
	margin-right:auto;
	width: 70%;
	border: 1px solid #000;
	border-radius: 5px;
	background: linear-gradient( #474747, #1e1e1e);
	color: white;
	overflow:hidden;
}
.feedGroup p {
	margin-top: 0px;
	margin-bottom: 0px;
}
.feedGroup ul {
	list-style:none;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	
}
.feedLoc {
	font-size:16px;
	height: 30px;
}
.feedLoc a {
	text-decoration:none;
	color: white;
}
.feedType {
	float:left;
	width: 20%;
	display: block;
	/*background: linear-gradient(#407630,#88C776);*/
	background: linear-gradient(#979548,#D0CF9D);
	color: #414ABE;
	text-shadow:
	1px 0px 1px #7A7A7A, 
    2px 1px 1px #7A7A7A;
    /*text-align: right;*/
	height: 35px;
}
.feedDistance {
	float:left;
	width:40%;
	display:block;
	/*background: linear-gradient(#C4BB15, #F0EA79);*/
	background: linear-gradient(#979548,#D0CF9D);
	/*color: #07981A;*/
	color:black;
	text-shadow:
	1px 0px 1px #7A7A7A, 
    2px 1px 1px #7A7A7A;
	/*font-weight: bold;*/
	font-size: 20px;
	height: 35px;
}
.feedDuration {
	float:left;
	width: 40%;
	/*background:#0C6;*/
	/*background: #ABB586;*/
	/*background: linear-gradient(#778350,#ABB586);*/
	background: linear-gradient(#979548,#D0CF9D);
	color: black;
	text-shadow:
	1px 0px 1px #7A7A7A, 
    2px 1px 1px #7A7A7A;
	display:block;
	font-size: 10px;
	font-style: italic;
	height: 35px;

}
.feedDistance p, .feedLoc p, .feedDuration p, .feedType p {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}