@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Noto+Serif);
@charset "utf-8";
/* CSS Document */
header, section, footer, aside, nav, main, article, figure {
    display: block;
}

body {
    /*font-family:Tahoma, Geneva, sans-serif;*/
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
    min-width: 385px;
    text-align: center;
    width: 100%;
    margin: 0;
}

section {
    background: #E2E2E2;
    width: 100%;
    overflow: hidden;
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 50px;
    width: 100%;
    /*background: #999;*/
    /*opacity: 0.4;*/
    background-color: rgba(60, 60, 60, 0.4);
}

nav {
    display: inline-block;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    overflow: hidden;
}

    nav a {
        display: block;
        float: left;
        text-decoration: none;
        padding: 0 30px 0 30px;
        line-height: 36px;
        background: linear-gradient( #474747, #1e1e1e);
        color: #999;
    }

        nav a:hover, nav a:active {
            background: linear-gradient( #39F, #1e1e1e);
            color: white;
        }

    nav .isActive {
        background: linear-gradient( #39F, #1e1e1e);
        color: white;
    }

form {
    width: 100%;
}

    form input[type="text"] {
        border-radius: 3px;
        border: none;
        padding-left: 10px;
    }

    form input[type="password"] {
        border-radius: 3px;
        /*border: 1px solid #999;*/
        width: 8em;
        border: none;
        padding-left: 10px;
    }


figure {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
}

.login {
    line-height: 2em;
    background: black;
    color: #999;
    font-size: 10px;
}

    .login input[type=submit] {
        /*background: #6C6;*/
        background: linear-gradient( #6C6, #6C6);
        border-radius: 5px;
        border: none;
        color: white;
        margin-left: 1em;
        margin-right: 1em;
    }

        .login input[type=submit]:active, .login input[type=submit]:hover {
            background: linear-gradient( #6C6, #004800);
        }

label.welcome {
    margin-right: 5px;
    color: white;
}

.validator {
    color: red;
    margin-left: 1em;
}

.error {
    color: red;
    background: #E2E2E2;
    overflow:hidden;
}

    .error ul {
        width:15%;
        margin-left:auto;
        margin-right: auto;
    }
    .error li {
        text-align: left;
    }



#ValidationSummary1 {
    /*margin-top: 1em;*/
}

span#lblUser {
    color: white;
}

#btnRegistration {
    text-decoration: none;
    font-family: 'Noto serif', serif;
    font-size: 16px;
    /*background: #09F;*/
    background: linear-gradient( #09F, #B3E0FF);
    border-radius: 10px;
    color: white;
    padding: 10px 15px 10px 15px;
    display: block;
    width: 8em;
    box-shadow: 0 0 15px 1px #666;
    margin-bottom: 20px;
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
}

    #btnRegistration:hover,
    #btnRegistration:active {
        color: #C562E6;
        background: linear-gradient( #09F, #09F);
    }
